body{
    background-color: black;
}
h1{
    text-align: center;
    color: rgb(201, 209, 209);
    font-family: monospace;
}
div{
    border: chocolate solid;
    width: 200%;
    height:400%;
}
#a
{
    border: steelblue solid;
    width: 100%;
}