@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
div{
    background-image: url(./nomer.jpg);
    
    width: 30%;
    border: 1px solid black;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-image: url(./sky.jpg);
}
