h1{
    color: rgba(248, 250, 250, 0.945);
margin: 4%;
}
#spec1{
    
    margin-left: 30%;
    margin-top: 1%;
}

#spec2{
    
    margin-left: 26%;
    margin-top: 1%;
}   
#spec3{

    margin-left: 21%;
    margin-top: 1%;
}
#one{
    background-color: darkgoldenrod;
    margin:50%;
    height: 150px;
    width: 100px;


}
#two{
    background-color: rgb(11, 184, 103);
    margin:50%;
    height: 150px;
    width: 100px;


}
#three{
    background-color: rgb(184, 11, 11);
    margin:50%;
    height: 150;
    width: 100px;


}#four{
    background-color: rgb(100, 11, 184);
    margin: 50%;
    height: 150px;
    width: 100px;


}#five{
    background-color: rgb(11, 184, 69);
    margin:50%;
    height: 150px;
    width: 100px;


}
#six{
    background-color: rgb(184, 11, 106);
    margin:50%;
    height: 150px;
    width: 100px;
    
}#seven{
        background-color: rgb(152, 184, 11);
        margin:50%;
        height: 150px;
        width: 100px;
}#eight{
    background-color: rgb(11, 86, 184);
     margin:50%;
     height: 150px;
     width: 100px;
}#nine{
     background-color: rgb(11, 184, 69);
     margin:50%;
     height: 150px;
     width: 100px;
}#ten{
     background-color: rgb(164, 11, 184);
     margin:50%;
     height: 150px;
     width: 100px;
}#leven{
    background-color: rgb(11, 164, 184);
    margin:50%;
    height: 150px;
    width: 100px;
}
#twelve{
    background-color: rgb(184, 11, 49);
    margin:50%;
    height: 150px;
    width: 100px;
}
#thirteen{
    background-color: rgb(245, 19, 7);
    margin:50%;
    height: 150px;
    width: 100px;
}
#fourteen{
    background-color: rgb(184, 75, 11);
    margin:50%;
    height: 150px;
    width: 100px;
}
#fifteen{
    background-color: rgb(11, 184, 141);
    margin:50%;
    height: 150px;
    width: 100px;
}
#sixteen{
    background-color: rgb(152, 184, 11);
    margin:50%;
    height: 150px;
    width: 100px;
}

#seventeen{
    background-color: rgb(79, 12, 236);
    margin:50%;
    height: 150px;
    width: 100px;
}


#eighteen{
    background-color: rgb(184, 95, 11);
    margin:50%;
    height: 150px;
    width: 100px;
}
#ninteen{
    background-color: rgb(243, 126, 10);
    margin:50%;
    height: 150px;
    width: 100px;
}
#zhl{
    background-color: rgb(238, 24, 131);
    margin:50%;
    height: 150px;
    width: 100px;
}
